In [0]:

import os
import pandas as pd
import numpy as np
from sklearn import preprocessing,metrics 
from IPython.core.display import HTML
pd.set_option("display.max_columns",75)
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import linear_model,svm
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve

In [0]:
missing_values = ["n/a", "na", "--"," ","nan"," nan","Nan","NAN","N/A","NA","NaN"]
df = pd.read_excel("loan.xlsx", na_values = missing_values)

In [0]:
# # Imports

# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# No warnings about setting value on copy of slice
pd.options.mode.chained_assignment = None

# Display up to 60 columns of a dataframe
pd.set_option('display.max_columns', 60)

# Matplotlib visualization
import matplotlib.pyplot as plt
%matplotlib inline

# Set default font size
plt.rcParams['font.size'] = 24

# Internal ipython tool for setting figure size
from IPython.core.pylabtools import figsize

# Seaborn for visualization
import seaborn as sns
sns.set(font_scale = 2)

# Splitting data into training and testing
from sklearn.model_selection import train_test_split

In [0]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
1,1077430,1314167,2500,2500,2500.0,60 months,0.1527,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,2011-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,1999-04-01,5,3,0,1687,0.094,4,f,0.00,0.00,1008.71,1008.71,456.46,435.17,0.00,117.08,1.11,2013-04-01,119.66,2013-09-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,0.1349,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,1996-02-01,1,10,0,5598,0.210,37,f,0.00,0.00,12231.89,12231.89,10000.00,2214.92,16.97,0.00,0.00,2015-01-01,357.48,2016-04-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,0.1269,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,2011-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,1996-01-01,0,15,0,27783,0.539,38,f,524.06,524.06,3513.33,3513.33,2475.94,1037.39,0.00,0.00,0.00,2016-05-01,67.79,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.0,36 months,0.0790,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,2004-11-01,3,9,0,7963,0.283,12,f,0.00,0.00,5632.21,5632.21,5000.00,632.21,0.00,0.00,0.00,2015-01-01,161.03,2016-01-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,1069639,1304742,7000,7000,7000.0,60 months,0.1596,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.0,Not Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Loan,280xx,NC,23.51,0,2005-07-01,1,7,0,17726,0.856,11,f,0.00,0.00,10110.84,10110.84,6985.61,3125.23,0.00,0.00,0.00,2016-05-01,1313.76,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [0]:
df.shape

(36430, 53)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36430 entries, 1 to 39623
Data columns (total 53 columns):
id                            36430 non-null int64
member_id                     36430 non-null int64
loan_amnt                     36430 non-null int64
funded_amnt                   36430 non-null int64
funded_amnt_inv               36430 non-null float64
term                          36430 non-null object
int_rate                      36430 non-null float64
installment                   36430 non-null float64
grade                         36430 non-null object
sub_grade                     36430 non-null object
emp_title                     36430 non-null object
emp_length                    36430 non-null object
home_ownership                36430 non-null object
annual_inc                    36430 non-null float64
verification_status           36430 non-null object
issue_d                       36430 non-null datetime64[ns]
loan_status                   36430 non-null object
pymnt_plan                    36430 non-null object
url                           36430 non-null object
purpose                       36430 non-null object
title                         36430 non-null object
zip_code                      36430 non-null object
addr_state                    36430 non-null object
dti                           36430 non-null float64
delinq_2yrs                   36430 non-null int64
earliest_cr_line              36430 non-null datetime64[ns]
inq_last_6mths                36430 non-null int64
open_acc                      36430 non-null int64
pub_rec                       36430 non-null int64
revol_bal                     36430 non-null int64
revol_util                    36430 non-null float64
total_acc                     36430 non-null int64
initial_list_status           36430 non-null object
out_prncp                     36430 non-null float64
out_prncp_inv                 36430 non-null float64
total_pymnt                   36430 non-null float64
total_pymnt_inv               36430 non-null float64
total_rec_prncp               36430 non-null float64
total_rec_int                 36430 non-null float64
total_rec_late_fee            36430 non-null float64
recoveries                    36430 non-null float64
collection_recovery_fee       36430 non-null float64
last_pymnt_d                  36430 non-null datetime64[ns]
last_pymnt_amnt               36430 non-null float64
last_credit_pull_d            36430 non-null datetime64[ns]
collections_12_mths_ex_med    36430 non-null float64
policy_code                   36430 non-null int64
application_type              36430 non-null object
acc_now_delinq                36430 non-null int64
chargeoff_within_12_mths      36430 non-null float64
delinq_amnt                   36430 non-null int64
pub_rec_bankruptcies          36430 non-null float64
tax_liens                     36430 non-null float64
dtypes: datetime64[ns](4), float64(20), int64(13), object(16)
memory usage: 15.0+ MB

In [0]:
df.select_dtypes(include=['object']).head()

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,initial_list_status,application_type
1,60 months,C,C4,Ryder,< 1 year,RENT,Source Verified,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,f,INDIVIDUAL
3,36 months,C,C1,AIR RESOURCES BOARD,10+ years,RENT,Source Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,f,INDIVIDUAL
4,60 months,B,B5,University Medical Group,1 year,RENT,Source Verified,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,f,INDIVIDUAL
5,36 months,A,A4,Veolia Transportaton,3 years,RENT,Source Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,wedding,My wedding loan I promise to pay back,852xx,AZ,f,INDIVIDUAL
6,60 months,C,C5,Southern Star Photography,8 years,RENT,Not Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Loan,280xx,NC,f,INDIVIDUAL

In [0]:
100 * df.isnull().sum() / len(df)

id                            0.0
member_id                     0.0
loan_amnt                     0.0
funded_amnt                   0.0
funded_amnt_inv               0.0
term                          0.0
int_rate                      0.0
installment                   0.0
grade                         0.0
sub_grade                     0.0
emp_title                     0.0
emp_length                    0.0
home_ownership                0.0
annual_inc                    0.0
verification_status           0.0
issue_d                       0.0
loan_status                   0.0
pymnt_plan                    0.0
url                           0.0
purpose                       0.0
title                         0.0
zip_code                      0.0
addr_state                    0.0
dti                           0.0
delinq_2yrs                   0.0
earliest_cr_line              0.0
inq_last_6mths                0.0
open_acc                      0.0
pub_rec                       0.0
revol_bal                     0.0
revol_util                    0.0
total_acc                     0.0
initial_list_status           0.0
out_prncp                     0.0
out_prncp_inv                 0.0
total_pymnt                   0.0
total_pymnt_inv               0.0
total_rec_prncp               0.0
total_rec_int                 0.0
total_rec_late_fee            0.0
recoveries                    0.0
collection_recovery_fee       0.0
last_pymnt_d                  0.0
last_pymnt_amnt               0.0
last_credit_pull_d            0.0
collections_12_mths_ex_med    0.0
policy_code                   0.0
application_type              0.0
acc_now_delinq                0.0
chargeoff_within_12_mths      0.0
delinq_amnt                   0.0
pub_rec_bankruptcies          0.0
tax_liens                     0.0
dtype: float64

In [0]:
# # Missing Values

# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0.0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [0]:
df=df.dropna(axis=1, how='all')

In [0]:
missing_values_table(df).head(50)

Your selected dataframe has 53 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [0]:
limitPer = len(df) * .80
df = df.dropna(thresh=limitPer,axis=1)

In [0]:
missing_values_table(df).head(50)

Your selected dataframe has 53 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [0]:
df.dropna(inplace=True)

In [0]:
missing_values_table(df).head(50)

Your selected dataframe has 53 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [0]:
df.shape

(36430, 53)

In [0]:
df["loan_status"].head(8)

1     Charged Off
3      Fully Paid
4         Current
5      Fully Paid
6      Fully Paid
7      Fully Paid
9     Charged Off
10     Fully Paid
Name: loan_status, dtype: object

In [0]:
data_with_loanstatus_sliced = df[(df['loan_status']=="Fully Paid") | (df['loan_status']=="Charged Off")]
data_with_loanstatus_sliced.head()
di = {"Fully Paid":0, "Charged Off":1}
df_status_clean=data_with_loanstatus_sliced.replace({'loan_status':di})
df_status_clean.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
1,1077430,1314167,2500,2500,2500.0,60 months,0.1527,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,2011-12-01,1,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,1999-04-01,5,3,0,1687,0.094,4,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,2013-04-01,119.66,2013-09-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,0.1349,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,2011-12-01,0,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,1996-02-01,1,10,0,5598,0.210,37,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,2015-01-01,357.48,2016-04-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.0,36 months,0.0790,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,2011-12-01,0,n,https://lendingclub.com/browse/loanDetail.acti...,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,2004-11-01,3,9,0,7963,0.283,12,f,0.0,0.0,5632.210000,5632.21,5000.00,632.21,0.00,0.00,0.00,2015-01-01,161.03,2016-01-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,1069639,1304742,7000,7000,7000.0,60 months,0.1596,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.0,Not Verified,2011-12-01,0,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Loan,280xx,NC,23.51,0,2005-07-01,1,7,0,17726,0.856,11,f,0.0,0.0,10110.840000,10110.84,6985.61,3125.23,0.00,0.00,0.00,2016-05-01,1313.76,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
7,1072053,1288686,3000,3000,3000.0,36 months,0.1864,109.43,E,E1,MKC Accounting,9 years,RENT,48000.0,Source Verified,2011-12-01,0,n,https://lendingclub.com/browse/loanDetail.acti...,car,Car Downpayment,900xx,CA,5.35,0,2007-01-01,2,4,0,8221,0.875,4,f,0.0,0.0,3939.135294,3939.14,3000.00,939.14,0.00,0.00,0.00,2015-01-01,111.34,2014-12-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [0]:
df_status_clean["term"].unique()

array([' 60 months', ' 36 months'], dtype=object)

In [0]:
''''Data transformation/cleanup
Strip off textual parts, represent values as numeric values
it makes sense. Convert the datatype to numeric.
'''
print('Transform: term...')
df_status_clean['term'].replace(to_replace=' months', value='', regex=True, inplace=True)
df_status_clean['term'] = pd.to_numeric(df_status_clean['term'], errors='coerce')
df_status_clean['term'].isnull().sum()

Transform: term...

0

In [0]:
df_status_clean['term'].head()

1    60
3    36
5    36
6    60
7    36
Name: term, dtype: int64

In [0]:
copy_df=df_status_clean.copy()

In [0]:
copy_df["emp_length"]

1         < 1 year
3        10+ years
5          3 years
6          8 years
7          9 years
9         < 1 year
10         5 years
11       10+ years
12        < 1 year
13         3 years
14         3 years
15        < 1 year
16         4 years
17       10+ years
18          1 year
19         6 years
20         3 years
21       10+ years
22       10+ years
23         5 years
24          1 year
25         2 years
27         2 years
28       10+ years
29        < 1 year
31         5 years
33         2 years
34         7 years
35       10+ years
36         2 years
           ...
38993      2 years
38994      4 years
38995     < 1 year
38996    10+ years
38997      3 years
38998     < 1 year
38999      7 years
39000    10+ years
39001       1 year
39002      4 years
39003      6 years
39013      4 years
39052     < 1 year
39084    10+ years
39138    10+ years
39216    10+ years
39220      4 years
39251     < 1 year
39288    10+ years
39291      5 years
39346       1 year
39348    10+ years
39362    10+ years
39425       1 year
39430      9 years
39433      7 years
39475      6 years
39551      2 years
39562       1 year
39623      8 years
Name: emp_length, Length: 35364, dtype: object

In [0]:
df_status_clean["emp_length"].values

array(['< 1 year', '10+ years', '3 years', ..., '2 years', '1 year',
       '8 years'], dtype=object)

In [0]:
print('Transform: emp_length...')
df_status_clean["emp_length"] = df_status_clean["emp_length"].replace({'years':'','year':'',' ':'','<':'','\+':'','n/a':'0'}, regex = True)

Transform: emp_length...

In [0]:
df_status_clean['emp_length'].unique()

array(['1', '10', '3', '8', '9', '5', '4', '6', '2', '7'], dtype=object)

In [0]:
df_status_clean['emp_length'] = pd.to_numeric(df_status_clean['emp_length'], errors='coerce')

In [0]:
df_status_clean['emp_length'].unique()

array([ 1, 10,  3,  8,  9,  5,  4,  6,  2,  7], dtype=int64)

In [0]:



print('Transform: grade...')
df_status_clean['grade'].replace(to_replace='A', value='0', regex=True, inplace=True)
df_status_clean['grade'].replace(to_replace='B', value='1', regex=True, inplace=True)
df_status_clean['grade'].replace(to_replace='C', value='2', regex=True, inplace=True)
df_status_clean['grade'].replace(to_replace='D', value='3', regex=True, inplace=True)
df_status_clean['grade'].replace(to_replace='E', value='4', regex=True, inplace=True)
df_status_clean['grade'].replace(to_replace='F', value='5', regex=True, inplace=True)
df_status_clean['grade'].replace(to_replace='G', value='6', regex=True, inplace=True)

df_status_clean['grade'] = pd.to_numeric(df_status_clean['grade'], errors='coerce')
df_status_clean['grade'].unique()

Transform: grade...

array([2, 0, 4, 1, 3, 5, 6], dtype=int64)

In [0]:
df_status_clean.select_dtypes(include=['object']).head()

,sub_grade,emp_title,home_ownership,verification_status,pymnt_plan,url,purpose,title,zip_code,addr_state,initial_list_status,application_type
1,C4,Ryder,RENT,Source Verified,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,f,INDIVIDUAL
3,C1,AIR RESOURCES BOARD,RENT,Source Verified,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,f,INDIVIDUAL
5,A4,Veolia Transportaton,RENT,Source Verified,n,https://lendingclub.com/browse/loanDetail.acti...,wedding,My wedding loan I promise to pay back,852xx,AZ,f,INDIVIDUAL
6,C5,Southern Star Photography,RENT,Not Verified,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Loan,280xx,NC,f,INDIVIDUAL
7,E1,MKC Accounting,RENT,Source Verified,n,https://lendingclub.com/browse/loanDetail.acti...,car,Car Downpayment,900xx,CA,f,INDIVIDUAL

In [0]:
object=['sub_grade','emp_title','home_ownership','verification_status','pymnt_plan','url','purpose','title','zip_code','addr_state','initial_list_status','application_type']
df_status_clean = df_status_clean.drop( object,axis=1)

In [0]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
1,1077430,1314167,2500,2500,2500.0,60 months,0.1527,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,2011-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,1999-04-01,5,3,0,1687,0.094,4,f,0.00,0.00,1008.71,1008.71,456.46,435.17,0.00,117.08,1.11,2013-04-01,119.66,2013-09-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,0.1349,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,1996-02-01,1,10,0,5598,0.210,37,f,0.00,0.00,12231.89,12231.89,10000.00,2214.92,16.97,0.00,0.00,2015-01-01,357.48,2016-04-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,0.1269,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,2011-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,1996-01-01,0,15,0,27783,0.539,38,f,524.06,524.06,3513.33,3513.33,2475.94,1037.39,0.00,0.00,0.00,2016-05-01,67.79,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.0,36 months,0.0790,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,2004-11-01,3,9,0,7963,0.283,12,f,0.00,0.00,5632.21,5632.21,5000.00,632.21,0.00,0.00,0.00,2015-01-01,161.03,2016-01-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,1069639,1304742,7000,7000,7000.0,60 months,0.1596,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.0,Not Verified,2011-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Loan,280xx,NC,23.51,0,2005-07-01,1,7,0,17726,0.856,11,f,0.00,0.00,10110.84,10110.84,6985.61,3125.23,0.00,0.00,0.00,2016-05-01,1313.76,2016-05-01,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [0]:
# Identify categorical features and single-valued features

# Define categorical_threshold
# If a column's number of unique values is less than this value, consider it categorical
categorical_threshold = 100

# Identifying categorical features
# Using df_raw because df_imputed is all float
cols_single_val = []
cols_categorical = []
cols_continuous = [] # non-categorical
for c in df_status_clean.columns:
#     if (c == 'id' or c == 'loss'):
#         continue
    if (df_status_clean[c].dtypes == 'int64' and len(df_status_clean.loc[:,c].unique()) <= categorical_threshold):
        print("Column \"" + c + "\" has unique values: ")
        print(df_status_clean.loc[:,c].unique())
        if (len(df_status_clean.loc[:,c].unique()) == 1):
            cols_single_val.append(c)
        else:
            cols_categorical.append([c])
    else:
        cols_continuous.append([c])

# After this check, we no longer need df_raw

            
print("Categorical columns: ", cols_categorical)
print("Single-valued columns: ", cols_single_val)

Column "term" has unique values:
[60 36]
Column "grade" has unique values:
[2 0 4 1 3 5 6]
Column "emp_length" has unique values:
[ 1 10  3  8  9  5  4  6  2  7]
Column "loan_status" has unique values:
[1 0]
Column "delinq_2yrs" has unique values:
[ 0  2  3  1  4  6  5  8  7  9 11]
Column "inq_last_6mths" has unique values:
[5 1 3 2 0 4 6 7 8]
Column "open_acc" has unique values:
[ 3 10  9  7  4  2 14 12 11 20  8  6 15 17  5 13 16 30 21 18 19 27 23 34
 25 22 24 26 32 28 29 33 31 39 36 38 44 35]
Column "pub_rec" has unique values:
[0 1 2 3 4]
Column "total_acc" has unique values:
[ 4 37 12 11  3 23 34  9 29 28 42 14 22 38 21 17  7 31 44 26 16  6 18 27
 25 40 35 10 24  8 20 15 19 36 13 51 32 30 33 46  5 61 56 50 41 79 62 43
 47 53 45 60 55 39 52 58 54 57 49 63 48 59 87 75 72 64 67 78 66 81 90 80
 71 69 73 70 68 65  2]
Column "policy_code" has unique values:
[1]
Column "acc_now_delinq" has unique values:
[0]
Column "delinq_amnt" has unique values:
[0]
Categorical columns:  [['term'], ['grade'], ['emp_length'], ['loan_status'], ['delinq_2yrs'], ['inq_last_6mths'], ['open_acc'], ['pub_rec'], ['total_acc']]
Single-valued columns:  ['policy_code', 'acc_now_delinq', 'delinq_amnt']

In [0]:
df_status_clean = df_status_clean.drop(cols_single_val, axis=1)
df_status_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35364 entries, 1 to 39623
Data columns (total 38 columns):
id                            35364 non-null int64
member_id                     35364 non-null int64
loan_amnt                     35364 non-null int64
funded_amnt                   35364 non-null int64
funded_amnt_inv               35364 non-null float64
term                          35364 non-null int64
int_rate                      35364 non-null float64
installment                   35364 non-null float64
grade                         35364 non-null int64
emp_length                    35364 non-null int64
annual_inc                    35364 non-null float64
issue_d                       35364 non-null datetime64[ns]
loan_status                   35364 non-null int64
dti                           35364 non-null float64
delinq_2yrs                   35364 non-null int64
earliest_cr_line              35364 non-null datetime64[ns]
inq_last_6mths                35364 non-null int64
open_acc                      35364 non-null int64
pub_rec                       35364 non-null int64
revol_bal                     35364 non-null int64
revol_util                    35364 non-null float64
total_acc                     35364 non-null int64
out_prncp                     35364 non-null float64
out_prncp_inv                 35364 non-null float64
total_pymnt                   35364 non-null float64
total_pymnt_inv               35364 non-null float64
total_rec_prncp               35364 non-null float64
total_rec_int                 35364 non-null float64
total_rec_late_fee            35364 non-null float64
recoveries                    35364 non-null float64
collection_recovery_fee       35364 non-null float64
last_pymnt_d                  35364 non-null datetime64[ns]
last_pymnt_amnt               35364 non-null float64
last_credit_pull_d            35364 non-null datetime64[ns]
collections_12_mths_ex_med    35364 non-null float64
chargeoff_within_12_mths      35364 non-null float64
pub_rec_bankruptcies          35364 non-null float64
tax_liens                     35364 non-null float64
dtypes: datetime64[ns](4), float64(20), int64(14)
memory usage: 10.5 MB

In [0]:
df_status_clean.select_dtypes(include=['datetime64[ns]']).head()

     issue_d earliest_cr_line last_pymnt_d last_credit_pull_d
1 2011-12-01       1999-04-01   2013-04-01         2013-09-01
3 2011-12-01       1996-02-01   2015-01-01         2016-04-01
5 2011-12-01       2004-11-01   2015-01-01         2016-01-01
6 2011-12-01       2005-07-01   2016-05-01         2016-05-01
7 2011-12-01       2007-01-01   2015-01-01         2014-12-01

In [0]:
date_time_drop=['issue_d','earliest_cr_line','last_pymnt_d','last_credit_pull_d']
df_status_clean = df_status_clean.drop( date_time_drop,axis=1)

In [0]:
df_status_clean.select_dtypes(include=['datetime64[ns]']).head()

Empty DataFrame
Columns: []
Index: [1, 3, 5, 6, 7]

In [0]:
name=['id','member_id']
df_status_clean = df_status_clean.drop(name, axis=1)

In [0]:
df_status_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35364 entries, 1 to 39623
Data columns (total 32 columns):
loan_amnt                     35364 non-null int64
funded_amnt                   35364 non-null int64
funded_amnt_inv               35364 non-null float64
term                          35364 non-null int64
int_rate                      35364 non-null float64
installment                   35364 non-null float64
grade                         35364 non-null int64
emp_length                    35364 non-null int64
annual_inc                    35364 non-null float64
loan_status                   35364 non-null int64
dti                           35364 non-null float64
delinq_2yrs                   35364 non-null int64
inq_last_6mths                35364 non-null int64
open_acc                      35364 non-null int64
pub_rec                       35364 non-null int64
revol_bal                     35364 non-null int64
revol_util                    35364 non-null float64
total_acc                     35364 non-null int64
out_prncp                     35364 non-null float64
out_prncp_inv                 35364 non-null float64
total_pymnt                   35364 non-null float64
total_pymnt_inv               35364 non-null float64
total_rec_prncp               35364 non-null float64
total_rec_int                 35364 non-null float64
total_rec_late_fee            35364 non-null float64
recoveries                    35364 non-null float64
collection_recovery_fee       35364 non-null float64
last_pymnt_amnt               35364 non-null float64
collections_12_mths_ex_med    35364 non-null float64
chargeoff_within_12_mths      35364 non-null float64
pub_rec_bankruptcies          35364 non-null float64
tax_liens                     35364 non-null float64
dtypes: float64(20), int64(12)
memory usage: 8.9 MB

In [0]:
df_status_clean.head()
data_clean=df_status_clean
data=df_status_clean
df_new=data

In [0]:

# Find all correlations and sort 
correlations_data = data.corr()['loan_status'].sort_values()

# Print the most negative correlations
print(correlations_data.head(15), '\n')

# Print the most positive correlations
print(correlations_data.tail(15))

total_rec_prncp        -0.329051
total_pymnt            -0.228691
total_pymnt_inv        -0.227412
last_pymnt_amnt        -0.221315
annual_inc             -0.038265
total_acc              -0.016979
open_acc               -0.002212
revol_bal               0.008058
delinq_2yrs             0.015351
total_rec_int           0.019908
emp_length              0.019954
installment             0.028730
pub_rec_bankruptcies    0.044064
dti                     0.045973
funded_amnt_inv         0.046541
Name: loan_status, dtype: float64

loan_amnt                     0.063387
inq_last_6mths                0.067708
revol_util                    0.100271
total_rec_late_fee            0.167706
term                          0.179190
grade                         0.200370
collection_recovery_fee       0.208757
int_rate                      0.211919
recoveries                    0.342919
loan_status                   1.000000
out_prncp                          NaN
out_prncp_inv                      NaN
collections_12_mths_ex_med         NaN
chargeoff_within_12_mths           NaN
tax_liens                          NaN
Name: loan_status, dtype: float64

In [0]:
for i in data.columns:
    if len(set(data[i]))==1:
        data.drop(labels=[i], axis=1, inplace=True)

In [0]:
# Find all correlations and sort 
correlations_data = data.corr()['loan_status'].sort_values()

# Print the most negative correlations
print(correlations_data.head(15), '\n')

# Print the most positive correlations
print(correlations_data.tail(15))

total_rec_prncp        -0.329051
total_pymnt            -0.228691
total_pymnt_inv        -0.227412
last_pymnt_amnt        -0.221315
annual_inc             -0.038265
total_acc              -0.016979
open_acc               -0.002212
revol_bal               0.008058
delinq_2yrs             0.015351
total_rec_int           0.019908
emp_length              0.019954
installment             0.028730
pub_rec_bankruptcies    0.044064
dti                     0.045973
funded_amnt_inv         0.046541
Name: loan_status, dtype: float64

pub_rec_bankruptcies       0.044064
dti                        0.045973
funded_amnt_inv            0.046541
pub_rec                    0.048340
funded_amnt                0.060311
loan_amnt                  0.063387
inq_last_6mths             0.067708
revol_util                 0.100271
total_rec_late_fee         0.167706
term                       0.179190
grade                      0.200370
collection_recovery_fee    0.208757
int_rate                   0.211919
recoveries                 0.342919
loan_status                1.000000
Name: loan_status, dtype: float64

In [0]:
data.shape

(35364, 27)

In [0]:
def remove_collinear_features(x, threshold):
    '''
    Objective:
        Remove collinear features in a dataframe with a correlation coefficient
        greater than the threshold. Removing collinear features can help a model
        to generalize and improves the interpretability of the model.
        
    Inputs: 
        threshold: any features with correlations greater than this value are removed
    
    Output: 
        dataframe that contains only the non-highly-collinear features
    '''
    
    # Dont want to remove correlations between loss
    y = x['loan_status']
    x = x.drop(columns = ['loan_status'])
    
    # Calculate the correlation matrix
    corr_matrix = x.corr()
    iters = range(len(corr_matrix.columns) - 1)
    drop_cols = []

    # Iterate through the correlation matrix and compare correlations
    for i in iters:
        for j in range(i):
            item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
            col = item.columns
            row = item.index
            val = abs(item.values)
            
            # If correlation exceeds the threshold
            if val >= threshold:
                # Print the correlated features and the correlation value
                # print(col.values[0], "|", row.values[0], "|", round(val[0][0], 2))
                drop_cols.append(col.values[0])

    # Drop one of each pair of correlated columns
    drops = set(drop_cols)
    x = x.drop(columns = drops)
    
    # Add the score back in to the data
    x['loan_status'] = y
               
    return x

In [0]:
data = remove_collinear_features(data, 0.6)

In [0]:
data.shape

(35364, 18)

In [0]:
data.head()

,loan_amnt,funded_amnt,term,int_rate,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,loan_status
1,2500,2500,60,0.1527,1,30000.0,1.00,0,5,3,0,1687,0.094,0.00,117.08,1.11,119.66,1
3,10000,10000,36,0.1349,10,49200.0,20.00,0,1,10,0,5598,0.210,16.97,0.00,0.00,357.48,0
5,5000,5000,36,0.0790,3,36000.0,11.20,0,3,9,0,7963,0.283,0.00,0.00,0.00,161.03,0
6,7000,7000,60,0.1596,8,47004.0,23.51,0,1,7,0,17726,0.856,0.00,0.00,0.00,1313.76,0
7,3000,3000,36,0.1864,9,48000.0,5.35,0,2,4,0,8221,0.875,0.00,0.00,0.00,111.34,0

In [0]:
# # # Split Into Training and Testing Sets

# Separate out the features and targets
features = data.drop(columns='loan_status')
targets = pd.DataFrame(data['loan_status'])

# Split into 80% training and 20% testing set
X_train, X_test, y_train, y_test = train_test_split(features, targets, test_size = 0.2, random_state = 42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(28291, 17)
(7073, 17)
(28291, 1)
(7073, 1)

In [0]:
X_train.head()

,loan_amnt,funded_amnt,term,int_rate,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt
38187,1800,1800,36,0.1146,10,60000.0,18.42,1,0,14,0,4170,0.592,0.0,0.0,0.0,64.43
9648,9600,9600,36,0.0749,10,38000.0,14.31,0,0,11,0,6995,0.518,0.0,0.0,0.0,3177.54
37662,14000,14000,36,0.1379,9,87000.0,17.26,0,0,11,0,43998,0.876,0.0,0.0,0.0,477.06
28941,4000,4000,36,0.1149,2,15000.0,14.56,0,2,3,0,5165,0.282,0.0,0.0,0.0,2178.80
23756,6250,6250,36,0.1372,3,24000.0,18.45,0,0,11,0,5889,0.719,0.0,0.0,0.0,220.52

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Aniket Kumar\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Aniket Kumar\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Aniket Kumar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [0]:
# Convert y to one-dimensional array (vector)
y_train = np.array(y_train).reshape((-1, ))
y_test = np.array(y_test).reshape((-1, ))

In [0]:
X_train

array([[-1.27653   , -1.28549428, -0.58351353, ..., -0.13810093,
        -0.08398785, -0.60774143],
       [-0.20926787, -0.17847271, -0.58351353, ..., -0.13810093,
        -0.08398785,  0.08412789],
       [ 0.39277744,  0.44600099, -0.58351353, ..., -0.13810093,
        -0.08398785, -0.51603698],
       ...,
       [ 0.11912048,  0.16214931,  1.71375633, ..., -0.13810093,
        -0.08398785,  0.58835902],
       [ 0.66643439, -0.09686535,  1.71375633, ..., -0.09857803,
        -0.04863959, -0.57096453],
       [-0.22295071, -0.1926653 , -0.58351353, ..., -0.13810093,
        -0.08398785, -0.57717625]])

In [0]:
X_test

array([[ 0.25594896,  0.30407515,  1.71375633, ..., -0.13810093,
        -0.08398785,  2.25874991],
       [ 0.52960592,  0.58792684, -0.58351353, ..., -0.13810093,
        -0.08398785, -0.51154988],
       [ 0.02676126,  0.06634937, -0.58351353, ..., -0.13810093,
        -0.08398785,  0.01690359],
       ...,
       [-0.94814165, -0.94487226, -0.58351353, ..., -0.13810093,
        -0.08398785, -0.58937965],
       [-0.77026463, -0.76036867, -0.58351353, ..., -0.13810093,
        -0.08398785, -0.57622727],
       [-0.83867887, -0.83133159, -0.58351353, ..., -0.13810093,
        -0.08398785, -0.61798465]])

In [0]:
# # # Models to Evaluate

# We will compare five different machine learning Cassification models:

# 1 - Logistic Regression
# 2 - K-Nearest Neighbors Classification
# 3 - Suport Vector Machine
# 4 - Naive Bayes
# 5 - Random Forest Classification

# Function to calculate mean absolute error
def cross_val(X_train, y_train, model):
    # Applying k-Fold Cross Validation
    from sklearn.model_selection import cross_val_score
    accuracies = cross_val_score(estimator = model, X = X_train, y = y_train, cv = 5)
    return accuracies.mean()

# Takes in a model, trains the model, and evaluates the model on the test set
def fit_and_evaluate(model):
    
    # Train the model
    model.fit(X_train, y_train)
    
    # Make predictions and evalute
    model_pred = model.predict(X_test)
    model_cross = cross_val(X_train, y_train, model)
    
    # Return the performance metric
    return model_cross

In [0]:
# # Naive Bayes
from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive_cross = fit_and_evaluate(naive)

print('Naive Bayes Performance on the test set: Cross Validation Score = %0.4f' % naive_cross)

Naive Bayes Performance on the test set: Cross Validation Score = 0.9632

In [0]:
from sklearn.ensemble import RandomForestClassifier
random = RandomForestClassifier(n_estimators = 10, criterion = 'entropy')
random_cross = fit_and_evaluate(random)

print('Random Forest Performance on the test set: Cross Validation Score = %0.4f' % random_cross)

Random Forest Performance on the test set: Cross Validation Score = 0.9659